@charset "UTF-8";

/***************************
	contents
***************************/

#contents .repo-list {
	overflow: hidden;
	text-align: center;
}

#contents .repo-list > section {
	display: inline-block;
	margin: 0 9px 15px;
	text-align: left;
}

#contents .repo-list a {
	display: block;
	width: 300px;
	margin: 0 auto;
	border: solid 1px #aeaeae;
	border-radius: 3px;
	position: relative;
	color: #444;
	text-decoration: none;
	box-shadow:0px 0px 5px 2px #aeaeae;
	-moz-box-shadow:0px 0px 5px 2px #aeaeae;
	-webkit-box-shadow:0px 0px 5px 2px #aeaeae;
}

#contents .repo-list a:hover {
	text-decoration: underline;
}

#contents .repo-list .repo-list-thmb {
	width: 100%;
	height: 0;
	padding-top: 170px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover; 
}

#contents .repo-list .status {
	position: absolute;
	top: 170px;
	left: 50%;
	width: 75px;
	height: 75px;
	text-align: center;
	border-radius: 75px;
	font-size: 16px;
	line-height: 1.3;
	margin: -37.5px 0 0 -37.5px;
}

#contents .repo-list .status span {
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#contents .repo-list .status.st-html {
	background: #0fb209;
	color: #fff;
}

#contents .repo-list .repo-list-txt {
	padding: 55px 15px 20px;
}

#contents .repo-list .repo-list-txt h1 {
	font-size: 22px;
}

#contents .repo-list .repo-list-txt p {
	line-height: 1.5;
	margin-bottom: 20px;
}

#contents .repo-list .repo-list-txt .repo-time {
	text-align: right;
}

#contents #pagination {
	width: 300px;
	margin: 30px auto;
}

#contents #pagination ul {
	display: table;
	width: 100%;
}

#contents #pagination li {
	display: none;
	text-align: center;
	height: 40px;
	vertical-align: middle;
}

#contents #pagination li.page-prev,
#contents #pagination li.page-now,
#contents #pagination li.page-next {
	display: table-cell;
}

#contents #pagination li.page-prev,
#contents #pagination li.page-next {
	width: 40px;
}

#contents #pagination li.page-prev {
	padding-right: 20px;
}

#contents #pagination li.page-next {
	padding-left: 20px;
}

#contents #pagination li.page-prev span,
#contents #pagination li.page-next span {
	display: inline-block;
	width: 10px;
	height: 0;
	padding-top: 10px;
	text-indent: 100%; 
	white-space: nowrap; 
	overflow: hidden;
	border-top: solid 2px #333;
	border-left: solid 2px #333;
}
#contents #pagination li.page-prev span {
	transform: rotate(-45deg);
	margin-right: -5px;
}

#contents #pagination li.page-next span {
	transform: rotate(135deg);
	margin-left: -5px;
}

#contents #pagination li a,
#contents #pagination li div {
	display: block;
	width: 100%;
	line-height: 40px;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	border: solid 2px #333;
	border-radius: 5px;
}

@media screen and (min-width: 750px) {
	#contents .repo-list {
		text-align: left;
	}

	#contents .repo-list > section {
		margin: 0 7px 15px;
	}

	#contents #pagination {
		width: 400px;
		clear: both;
		margin: 50px auto 60px;
	}

	#contents #pagination li {
		width: 40px;
		height: 40px;
		display: table-cell;
		padding: 0 5px !important;
	}

	#contents #pagination li a:hover,
	#contents #pagination li.active div {
		background: #333;
		color: #fff;
	}

	#contents #pagination li.page-prev a:hover span,
	#contents #pagination li.page-next a:hover span {
		border-top: solid 2px #fff;
		border-left: solid 2px #fff;
	}

	#contents #pagination li.page-now {
		display: none;
	}
}