@charset "UTF-8";

/***************************
	contents
***************************/

#contents {
	padding: 0 20px;	
}

#contents .detail-left {
	
}

#contents .repo-hd {
	margin-bottom: 20px;
}

#contents .repo-hd h1 {
	font-size: 30px;
}

#contents .repo-hd > div {
	margin-bottom: 10px;
}

#contents .repo-hd .status {
	display: inline-block;
	font-size: 14px;
	padding: 0 20px;
	font-weight: normal;
}

#contents .repo-hd .status.st-html {
	background: #0fb209;
	color: #fff;
}

#contents .repo-hd .repo-time {
	display: inline-block;
	margin-left: 10px;
}

#contents .repo-hd .sns-btn {
	display: table;
	margin-bottom: 20px;
}

#contents .repo-hd .sns-btn li {
	display: table-cell;
	line-height: 50px;
	width: 80px;
}

#contents .repo-hd .sns-btn-tw {
	background: #55acee;
}

#contents .repo-hd .sns-btn-fb {
	background: #3B5999;
}

#contents .repo-hd .sns-btn-hb {
	background: #008FDE;
}

#contents .repo-hd .sns-btn-gp {
	background: #dd4b39;
}

#contents .repo-hd .sns-btn-ff {
	background: #2bb24c;
}

#contents .repo-hd #repo-main-img {
	margin-bottom: 10px;
	width: 100%;
}

#contents .repo-main {
	margin-bottom: 30px;
}

#contents .repo-main .repo-index {
	margin-bottom: 20px;
	padding: 10px 10px 10px 30px;
	border: solid 2px #999;
	list-style: disc;
}

#contents .repo-main .repo-index a {
	color: #444;
	text-decoration: none;
}

#contents .repo-main .repo-index a:hover {
	text-decoration: underline;
}

#contents .repo-main h1 {
	margin-bottom: 10px;
	font-size: 24px; 
}

#contents .top-back {
	display: block;
	border: solid 2px #333;
	font-size: 18px;
	line-height: 40px;
	vertical-align: middle;
	margin: 60px 0;
	color: #333;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
}

#contents .repo-main .mb10 {
	margin-bottom: 10px;	
}

#contents .repo-main .mb15 {
	margin-bottom: 15px;	
}

#contents .repo-main .mb20 {
	margin-bottom: 20px;	
}

#contents .repo-main .mb30 {
	margin-bottom: 30px;	
}

#contents .detail-right {
	display: none;
}

#contents .detail-right li {
	margin-bottom: 30px;
}

#contents  {
	
}

#contents  {
	
}

@media screen and (min-width: 750px) {
	#contents .inner {
		overflow: hidden;
	}

	#contents .repo-hd h1 {
		font-size: 22px;
		margin-bottom: 30px;
		line-height: 1;
	}

	#contents .repo-main h1 {
		font-size: 18px;
	}

	#contents .repo-hd > div {
		margin-bottom: 20px;
	}

	#contents .detail-right {
		display: block;
		padding-top: 86px;
	}

	#contents .detail-left {
		padding: 0 10px;
		width: 635px;
		float: left;

	}

	#contents .detail-right {
		float: right;
	}
}